body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: white;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(28, 28, 28, 0.8);

    color: #eea4a4;
}

.card-header {
    background-color: transparent;

    color: #eea4a4;
    font-size: 1.75rem;
    text-align: center;
    padding: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-grow: 1;
    overflow-y: auto;
    background: rgba(28, 28, 28, 0.5);

}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: bisque;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: bisque;

    border: 2px solid #3d1d1d;

    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: bisque;

}

input[type="checkbox"]:checked::before {
    content: '\2713';

    color: #3d1d1d;

    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-primary {
    background-color: bisque;
    color: #3d1d1d;

    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #080808 !important;
    color: bisque !important;
    outline: none !important;
    box-shadow: none !important;
}

a {
    color: bisque;
    text-decoration: none;
}

a:hover {
    color: #dc3d3d;

    text-decoration: underline;
}

.list-group-item.loadchat:hover {
    color:bisque; 
    text-decoration: underline; 
}

#goBackIcon {
    background-color: bisque;
    color: #3d1d1d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#goBackIcon:hover {
    background-color: #080808;
    color: bisque;
}
.fa-power-off {
    background-color: bisque;
    color: #3d1d1d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fa-power-off:hover {
    background-color: #080808;
    color: bisque;
}

.chats {
    max-height: 450px;
    overflow-y: auto;
}
.chat-bubble-container {
    list-style: none;
}
.chat-bubble {
    max-width: 450px;
    padding: 15px;
    margin: 2px;
    border-radius: 15px;
    text-align: left;
}

.from-message {
    border-bottom-left-radius: 0px;
    right: -164px; 
    position: relative;
    align-self: flex-end;

    background-color: bisque;
    color: #3d1d1d;

    border: none;
    border-radius: 45px;
    padding: 8px 20px;
    font-size: inherit;
    font-weight: bold;
    width: auto;
    max-width: 70%; 
    
}


.to-message {
    border-bottom-right-radius: 0px;

    position: relative;
    align-self: flex-start;

    background-color: #140f0f;

    color: bisque;
    border: none;
    border-radius: 45px;
    padding: 8px 20px;
    font-size: inherit;
    font-weight: bold;
    width: auto;
    max-width: 70%;

}

.chat-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#message {
    flex-grow: 1;
    margin-right: 20px;
    background-color: bisque;
    color: #3d1d1d;
    border: none;
    border-radius: 5px 5px 5px 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#message:focus {
    background-color: bisque;
}

#sendMessage {
    background-color: bisque;
    color: #3d1d1d;
    border: none;
    border-radius: 5px;
    padding: 19px 24px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}




#sendMessage:hover {
    background-color: #080808;
    color: bisque;

}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: rgba(61, 29, 29, 0.5);

}

::-webkit-scrollbar-thumb {
    background: bisque;

    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background: #e6d7b7;

}
